body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(0,0,0, 0.8);  
}

/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallaxgroup {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax- {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax---base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax-back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}
  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* style the groups
  --------------------------------------------- */
  .parallax---base {
    color: white;
  }

  #front-page, #group5, #location {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #front-page .parallax-back {
    background-image: url('./images/thedan.jpg');
    background-size: cover;
    color: white;
  }

  #about-us {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #about-us .parallax---base {
    background-color: rgb(0,0,0, 0.9);
    height: 100%;
  }

  #menus, #group6 {
    z-index: 2; /* slide under group 3 and 5 */
  }

  #menus .parallax-back {
    background-image: url('./images/guinness.jpg');
  }

  #group5 .parallax---base {
    background-color: rgb(0,0,0, 0.8);  
  }

  #group6 .parallax-back {
    background-image: url('./images/taplist.jpg');
    color: white;
  }

  #location .parallax---base {
    /*background: white;*/
    background-color: rgb(0,0,0, 0.9);  
  }

/* Front page */
/* Responsive Nav Bar*/
.toggle-nav {
  display: none;
}

.nav-link {
  color: white;
}

.flex-nav ul {
  background-color: rgb(0,0,0, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  text-align: center;
  padding: 10px 0;
  flex: 3;
  text-decoration: none;
  color: white;
}

.flex-nav .social {
  flex: 1;
}

.dan-logo {
  color: black;
  text-shadow: 2px 2px 3px #ffffff;
  font-family: 'Glass Antiqua', cursive;
  font-size: 80px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 40px;
}

/* Menu Page */

button {
  width: 40vw;
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  border: black solid 2px;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgb(250, 250, 250, 0.1), rgb(250, 250, 250, 1));
}

/* Location */
  .location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }

  .hours ul {
    list-style: none;
    font-size: 16px;
  }

  .contact {
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact h2 {
    font-size: 22px;
    text-align: center;
  }

  .contact-details {
    order: 0;
  }

  .socials {
    order: 1;
  }

  .hour {
    order: 2;
  }

  .map {
    order: 3;
  }

  iframe {
    width: 90%;
    height: 90%;
    border: solid black 2px;
    /*padding: 20px;*/
  }


@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
    height: 50vh;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

  .flex-nav .social {
    flex: 1 1 33%;
  }
}

/* Contact Us */
.contact-us-mobile {
  display: none;
  /*color: black;*/
}

.coming-soon {
  height: 80%;
  width: 80vw;
  border: 2px solid white;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 1));
}

@media all and (max-width: 500px) {

  .dan-logo {
    font-size: 40px;
    margin-top: 25px;
  }

  .flex-nav ul {
    height: 80vh;
  }

  .flex-nav li {
    flex-basis: 100%;
  }
}


